<div>
  <h2>
      Name: {{user.name}}
    </h2>
  <img ng-src="{{user.avatar_url}}" title="{{user.name}}" />
  Order:
  <select ng-model="repoSortOrder">
    <option value="+name">Name</option>
    <option value="-stargazers_count">Stars</option>
    <option value="+language">Language</option>
  </select>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Stars</th>
      <th>Language</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="repo in repos | orderBy:repoSortOrder">
      <th>{{repo.name}}</th>
      <th>{{repo.stargazers_count | number }}</th>
      <th>{{repo.language}}</th>
    </tr>
  </tbody>
</table>